h1{
  font-size: 1.5em;
}
#survey-form{
  margin: auto;
  position:relative;
  max-width: 400px;
  padding: 10px;
  /* line-height: 1.6875; */
  font-family: 'Gentium Basic', serif;
}
.fieldlabel{
  display: block;
  font-weight: bold;
}
.fieldinput{
  display: block;
  padding: 1px;
  font-size: .85em;
}
