h1{
  font-size: 1.5em;
}
#survey-form{ 
  margin: auto;
  position:relative;
  max-width: 400px;
  padding: 1em;
  border-radius: 1em;
  font-family: 'Gentium Basic', serif;
}
.fieldlabel{
  display: inline-block;
  /* width: 90px; */
  font-weight: bold;
  text-align: right;
}
.fieldinput{
  display: inline-block;
  padding: 1px;
  font-size: .85em;
}
.pair {
  /* display: grid; */
  padding-top: 5px;
}